dokuwiki/_cs/*
dokuwiki/_test/*
dokuwiki/bin/*
dokuwiki/conf/*
dokuwiki/data/*
dokuwiki/inc/*
dokuwiki/lib/*
dokuwiki/vendor/*
dokuwiki/.editorconfig
dokuwiki/.gitattributes
dokuwiki/.gitignore
dokuwiki/.htaccess.dist
dokuwiki/.travis.yml
dokuwiki/composer.json
dokuwiki/composer.lock
dokuwiki/COPYING
dokuwiki/doku.php
dokuwiki/feed.php
dokuwiki/index.php
dokuwiki/install.php
dokuwiki/README
